[user]
  name = Chyld Medford
  email = chyld.medford@gmail.com
[credential]
  helper = cache --timeout=3600
[color]
  ui = true
[core]
  editor = mate
  excludesfile = /Users/chyld/.gitignore_global
[alias]
  st = status -sb -uall
  lg = log --decorate --pretty=oneline --abbrev-commit --graph

